.header__list{align-items:center;background-color:green;display:flex;flex-direction:row;gap:15px;justify-content:space-evenly;left:0;position:fixed;right:0;top:0}
.section__header{text-align:center}
ul{list-style:none}li,ul{margin:0;padding:0}
