.about{
  background-color: #eaf8ff;
  box-shadow: 0 0 50px 25px #eaf8ff;
  padding-bottom: 25px;
}

.about__article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: linear-gradient(180deg, rgba(0, 45, 77, 0.8) 0%, rgba(15, 27, 59, 0.8) 80%, rgba(3, 10, 40, 0.8) 100%);
  padding: 25px 25px 50px 25px;
}

.about__logo{
  width: 25%;
  filter: drop-shadow(0 0 3px white);
  z-index: 0;
}

.about__title{
  color: white;
  text-align: center;
  font-size: x-large;
}

.about__paragraph{
  color: white;
  max-width: 80%;
  text-align: center;
  font-size: x-large;
}